:root{
    --first: #272727;
    --second: #ff652f;
    --third: #ff2891;
    --text-color:#fff;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0;
    padding:0;
    background: blue;
    overflow: hidden;
}
@media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
}
::-webkit-meter-bar{
    color:red;
}

::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-track{
    background:rgba(11,226,227,1) 80%;
}
::-webkit-scrollbar-thumb {
    background:  #403535;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#403535;
  }
.container-fluid{
    scroll-behavior: smooth;
    background: rgb(64,53,53);
    background: linear-gradient(171deg, rgba(64,53,53,1) 37%, rgba(52,73,80,1) 80%, rgba(11,226,227,1) 80%);
  
    overflow: hidden;
    position: relative;
    width: 100% !important;
    height: 100vh;
    overflow: auto;
    padding: 0px;
    scroll-snap-type:  y mandatory;
}

.container-fluid .section{
    position: relative;
    width: 100%;height: 100%;
    background-blend-mode: multiply;
    scroll-snap-align: start ;
}
.container-fluid .section:nth-child(1){
background-size: cover;
    background-attachment: fixed;
   animation-fill-mode: backwards;
}

.container-fluid .section:nth-child(2){
background-size: cover;
    background-attachment: fixed;
}

.container-fluid .section:nth-child(3){
background-size: cover;
    background-attachment: fixed;
}

.container-fluid .section .content{
    position: absolute;
    bottom:50px;
    left:50px;
    top:2vh;
    max-width: 700px;
}

.container-fluid .section .content h2{
    background:#ffff;
    color:#111;
    font-weight: 600;
    display: inline-block;
    padding: 10 px 20 px;
    font-size: 2em;
}
.container-fluid .section .content p{
    background:#ffff;
    margin-top:10px;
    color:#111;
    font-weight: 300;
    display: inline-block;
    padding: 10 px 20 px;
    font-size: 2em;
}

.container-fluid .section  .card{
    background-color:#272727;
    bottom:50px;
    position: relative;
    width: 450px;
    height: 350px;
    top:2vh;
    max-width: 700px;
    display: block;
    left: 75%;
    right: 50%;
    justify-content: center;    
}

.container-fluid .section  .card p{
   color:white;
   
}

 .card-footer{
    padding: 2.75rem 0.25rem  !important;
    position: sticky;
    background-color: transparent;
    display:flex;
    justify-content:space-around;
    align-items: center;
    min-height: 2vh;
    backdrop-filter: blur(2px);
    font-family: 'Comfortaa', cursive;
}

.card-footer li{
    bottom: 20px;
    list-style: none;
    padding: 15px;;
}
.card-footer li, a{
    color:white;
       text-decoration:none;
    letter-spacing:3px;
    font-weight: bold;
    font-size:15px;
}



#canvas{
    border:2px solid black;
    position: absolute;
    background: black;
    height: 100%;
    width:100%;
    top: 0;
    left: 0;;
}
   


img{
    height:10vh;
    width:10vh;
    position:relative;
    padding-right: 0;
}

.header{
   background-color: #403535;
}

.header .navbar {
    background: rgb(64,53,53) !important; 
  }

  .navbar{ 
    background-color: #403535;
    position: absolute;
    display:flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    backdrop-filter: blur(2px);
    font-family: 'Comfortaa', cursive;
}

.nav_links{
    display:flex;
    justify-content:space-around;
    width:30%;
}

.nav_links li{
    list-style: none;
}

.nav_links a{
    color:black;
    text-decoration:none;
    letter-spacing:3px;
    font-weight: bold;
    font-size:15px;
}

.burger{
    display:none;
    cursor:pointer;
}

.burger div{
    width:25px;
    height:2px;
    background-color:black;
    margin:5px;
}

@media screen and (max-width:1024px){
    .nav_links{
        display:flex;
        justify-content:space-around;
        width:60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x:hidden;
      
    }
  .nav_links{
      position:absolute;
      right:0px;
      height:92vh;
      top:10vh;
      backdrop-filter: blur(2px);
      flex-direction: column;
      align-items:center;
      width:50%;
      transform:translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav_links a
  {
      opACITY:0;
  }
  .burger{
      display:block;
  }
}

.nav-active{
    transform:translateX(0%);
}


