*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    height:10vh;
    width:10vh;
    position:relative;
    padding-right: 0;
}

nav{   
    display:flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    backdrop-filter: blur(2px);
    font-family: 'Comfortaa', cursive;
}

.nav_links{
    display:flex;
    justify-content:space-around;
    width:30%;
}

.nav_links li{
    list-style: none;
}

.nav_links a{
    color:black;
    text-decoration:none;
    letter-spacing:3px;
    font-weight: bold;
    font-size:15px;
}

.burger{
    display:none;
    cursor:pointer;
}

.burger div{
    width:25px;
    height:2px;
    background-color:black;
    margin:5px;
}

@media screen and (max-width:1024px){
    .nav_links{
        display:flex;
        justify-content:space-around;
        width:60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x:hidden;
      
    }
  .nav_links{
      position:absolute;
      right:0px;
      height:92vh;
      top:10vh;
      backdrop-filter: blur(2px);
      flex-direction: column;
      align-items:center;
      width:50%;
      transform:translateX(100%);
      transition: transform 0.5s ease-in;
  }
  .nav_links a
  {
      opACITY:0;
  }
  .burger{
      display:block;
  }
}

.nav-active{
    transform:translateX(0%);
}